<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tailwindcss.css">
</head>
<body class="bg-gray-200">
   
    <div id="app">

    
    <div class="flex justify-center ">

        <div class="w-4/12">
        
            <input @keyup.enter="Current" v-model="tasks" class="w-full border border-2 border-green-200 rounded-md mt-10 p-1" type="text" placeholder="what are your tasks for today?">
   

    <div  class=" flex-col">
        <div>
            <h2 v-if="currentTasks.length > 0" class="mt-5 text-blue-500 text-xl">Current Tasks</h2>
        </div>
        <div v-for="(tasks,index) in currentTasks" class="rounded-md border-green-200 border-2  bg-white w-full flex justify-between mt-1">
            <div class="p-1"> {{tasks}} </div>
            <div>
                <button @click="Later(task) " class="rounded-md text-black hover:bg-blue-400 hover p-1 m-1">Later</button>
                <button @click="deleteCurrent(index) " class="rounded-md text-black hover:bg-red-400 hover p-1 m-1">Delete</button>
            </div>
        </div>
    </div>



    <div class="flex-col">
        <div>
            <h2 v-if="laterTasks.length > 0" class=" text-green-500 text-xl mt-5">Later Tasks</h2>
        </div>
        <div v-for="(tasks,index) in laterTasks" class="mt-1 rounded-md border-blue-200 border-2 w-full bg-white flex justify-between  ">
            <div class="p-1"> {{tasks}} </div>
            <div>
                <button @click="returncurrent(task) " class="rounded-md text-black hover:bg-blue-400 hover p-1 m-1">Current</button>
                <button @click="deletelater(index) " class="rounded-md text-black hover:bg-red-400 hover p-1 m-1">Delete</button>
            </div>
        </div>
    </div>

</div>
    
    </div>


</div>




    <body >
        
   
   
    <script src="vue.js"></script>
    
    
    
    
    
    <script>
    let app=new Vue ({


        el: '#app',
        data: {


            tasks: '',
            currentTasks: [],
            laterTasks: []
        },
        methods: {


            Current() {
                this.currentTasks.push(this.task)
            },
            deleteCurrent(index) {
                this.currentTasks.splice(index, 1)
            },
            Later(task) {
                this.laterTasks.push(task)
                let index = this.currentTasks.indexOf(task)
                this.currentTasks.splice(index, 1)
            },

           returncurrent(task){
               this.currentTasks.push(task)
               let x =this.laterTasks.indexOf(task)
               this.laterTasks.splice(x, 1 )

           },

           deletelater(index){
               this.laterTasks.splice(index,1)
           }


        }


   


})



    </script>
</body>
</html>